.sign-in-google {
    width: 187px;
    height: 32px;
    background: url(../images/Red-signin-Long-base-32dp.png) -5px -5px;
    margin: 9px 0px 9px 5px;
    text-indent: -9999px;
}

.sign-in-google:hover {
    background-image: url(../images/Red-signin-Long-hover-32dp.png);
}

.sign-in-google:active {
    background-image: url(../images/Red-signin-Long-press-32dp.png);
}