{% extends "base.html" %}

{% block content %}

<h1>{{ profile.user.get_full_name|default:profile.user.username }} {{ name }}</h1>

{% if follow_set %}
    <ul class="list-group">
        {% for follow in follow_set %}
            <strong><a href="{% url 'profile' follow.pk %}" class="list-group-item">{{ follow }}</a></strong>
        {% endfor %}
    </ul>
{% else %}
    <h3>{{ profile.user.get_full_name|default:profile.user.username }} doesn't have any {{ name }}.</h3>
{% endif %}

{% endblock %}


