{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {{ block.super }}
    <link href="{% static "googleButton.css" %}" rel="stylesheet">
{% endblock %}

{% block navbar-right %}

    {% if user and not user.is_anonymous %}
        <li>
            <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
            <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        </li>
    {% else %}
        <!--<li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>-->
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
            <div class="sign-in-google">
                Sign in with google.
            </div>
        </a>

        <!--<li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>-->
    {% endif %}

{% endblock %}