{% extends "base.html" %}

{% block content %}

<h2>Search your friends!</h2>

{% if errors %}
    <ul>
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<form method="get" action="{% url 'search' %}">
    <div class="input-group input-group-lg form-inline">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" value="Search"><span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
        <input type="text" class="form-control" placeholder="Search" name="username">
    </div>
</form>

{% endblock %}
